*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}


//import light and dark theme

@import 'theme/_light';
@import 'theme/_dark';

.light{
  // all color variable related to light theme
  @include light-theme

}

.dark{
  //all variable related to dark theme 
  @include dark-theme

}


.bold{
  font-weight: bold;
}
.xx-large-font{
  font-size: 22px;
}
.x-large-font{
  font-size: 20px;
}
.large-font{
  font-size: 18px;
}

.normal-font{
  font-size: 16px;
}

.medium-font{
  font-size: 14px;
}

.small-font{
  font-size: 12px;
}

.x-small-font{
  font-size: 10px;
}
.xx-small-font{
  font-size: 8px;
}
.m-5{
  margin: 5px;
}
.m-10{
  margin: 10px;
}
.m-15{
  margin: 15px;
}
.m-h-5{
  margin-left: 5px;
  margin-right: 5px;
}
.m-h-10{
  margin-left: 10px;
  margin-right: 10px;
}
.m-h-15{
  margin-left: 15px;
  margin-right: 15px;
}

.m-v-5{
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-v-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.m-v-5{
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-l-5{
  margin-left: 5px;
}

.m-l-10{
  margin-left: 10px;
}
.m-l-15{
  margin-left: 15px;
}
.m-r-5{
  margin-right: 5px;

}
.m-r-10{
  margin-right: 10px;
  
}
.m-r-15{
  margin-right: 15px;
  
}

.m-t-5{
  margin-top: 5px;
}
.m-t-10{
  margin-top: 10px;
}
.m-t-15{
  margin-top: 15px;
}

.m-b-5{
  margin-bottom: 5px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-15{
  margin-bottom: 15px;
}




.p-5{
  padding: 5px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-h-5{
  padding-left: 5px;
  padding-right: 5px;
}
.p-h-10{
  padding-left: 10px;
  padding-right: 10px;
}
.p-h-15{
  padding-left: 15px;
  padding-right: 15px;
}

.p-v-5{
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-v-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-v-5{
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-l-5{
  padding-left: 5px;
}

.p-l-10{
  padding-left: 10px;
}
.p-l-15{
  padding-left: 15px;
}
.p-r-5{
  padding-right: 5px;

}
.p-r-10{
  padding-right: 10px;
  
}
.p-r-15{
  padding-right: 15px;
  
}

.p-t-5{
  padding-top: 5px;
}
.p-t-10{
  padding-top: 10px;
}
.p-t-15{
  padding-top: 15px;
}

.p-b-5{
  padding-bottom: 5px;
}
.p-b-10{
  padding-bottom: 10px;
}
.p-b-15{
  padding-bottom: 15px;
}
.movie-alert-box{
  position: fixed;
  top: 0%;
  margin: auto;
  min-width: 220px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:  1px solid grey;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.movie-alert-success{
  background-color: rgb(187, 255, 187);
  color: green;
  border: 1px solid green;
}
.movie-alert-error{
  background-color: rgb(239, 171, 171);
  color: red;
  border: 1px solid red;
}

.movie-alert-warnning{
  background-color: rgb(249, 220, 165);
  color: orange;
  border: 1px solid orange;
}